<ion-view view-title="Dashboard">
    <ion-content class="padding">

        <div class="list card">
            <div class="item item-divider">Recent Updates</div>
            <div class="item item-body">
                <div>
                    There is a fire in <b>sector 3</b>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Health</div>
            <div class="item item-body">
                <div>
                    You ate an apple today!
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Upcoming</div>
            <div class="item item-body">
                <div>
                    You have <b>29</b> meetings on your calendar tomorrow.
                </div>
            </div>
        </div>

        <div class="list card">
            <a class="item item-button-right">
                打电话
                <button class="button button-positive">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-email"></i>
                查看邮箱
                <span class="item-note">检查新邮件</span>
            </a>
            <a class="item item-avatar" href="">
                <img src="http://ionicframework.com/img/docs/venkman.jpg">
                <h2>Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
        </div>



    </ion-content>
</ion-view>
